[run]
# Указываем приложения, которые нужно проверять
source = .
# Исключаем служебные файлы и папки
omit =
    *manage.py
    *config/*
    *migrations/*
    *tests.py
    *apps.py
    *admin.py
    *venv/*

[report]
# Пропускать файлы, в которых нечего тестировать
skip_empty = True
# Показывать пропущенные строки в консоли
show_missing = True
# Округлять процент (необязательно)
precision = 2
