SECRET_KEY=

DEBUG=

NAME=
USER=
PASSWORD=
HOST=
PORT=

CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
ALLOWED_HOSTS=

EMAIL=
FIRST_NAME=
LAST_NAME=
PASSWORD_ADMIN=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TG_API_KEY=
